:root {

   --darkhex : #386641 ;
   --primaryhex : #F97A00 ;
   --secondaryhex : #FED16A ;
   --backgroundhex : #FFF4A4 ;

   --c-darkrgb : rgb(56, 102, 65);
   --c-primaryrgb : rgb(249, 122, 0);
   --c-secondaryrgb : rgb(254, 209, 106);
   --c-backgroundrgb : rgb(235, 208, 0);

}



/* Background Colors */
.c-bg-dark {
  background-color: var(--darkHex) !important;
}

.c-bg-primary {
  background-color: var(--primaryHex) !important;
}

.c-bg-secondary {
  background-color: var(--secondaryHex) !important;
}

.c-bg-background {
  background-color: var(--backgroundHex) !important;
}

/* Text Colors */
.c-text-dark {
  color: var(--darkHex) !important;
}

.c-text-primary {
  color: var(--primaryHex) !important;
}

.c-text-secondary {
  color: var(--secondaryHex) !important;
}

.c-text-background {
  color: var(--backgroundHex) !important;
}

/* Border Colors */
.c-border-dark {
  border-color: var(--darkHex) !important;
}

.c-border-primary {
  border-color: var(--primaryHex) !important;
}

.c-border-secondary {
  border-color: var(--secondaryHex) !important;
}

.c-border-background {
  border-color: var(--backgroundHex) !important;
}
}