/* con-1 */
 #con-1 {
    height: 60vh;
}

#con-2 {
    height: 60vh;
}
#con-4 {
    height: 1185px;
}
#main1 {
    height: 100%;
    width: 40%;
}

#main2 {
    height: 100%;
    width: 60%;
}
#a1 {
    height: 243px;
    width: 395px;
    border-radius: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(241, 235, 235);
    background-color: rgb(9, 9, 9);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #070739;
    color: rgb(246, 240, 240);
    border: 2px solid rgb(4, 11, 66);
    box-shadow: 5px 5px 0px rgb(3, 17, 97);
}

.button:active {
    background-color: #130863;
    box-shadow: none;
    transform: translateY(4px);
}
body{
    background-color: #e1e6ff;
    color: rgb(0, 0, 0);
}
.bg-custom{
    background-color: rgb(15, 15, 74);
    color: white;
}
.card:hover{
   transform: scale(1.1);
   outline: 2px rgb(5, 2, 72) solid;
}
.project-cta{
   height: 40px !important;
   width: 100px !important;
   background-color: black !important;
   color: aliceblue !important;
   border-radius: 10px;
}
.project-cta:focus{
  
   background-color: rgb(4, 66, 100) !important;
   color: rgb(10, 10, 10) !important;
   transform: scale(0.90);
   border-radius: 10px;
   outline: 2px solid black;
}
.skill-content{
    color: #e1e6ff;
}
.skill-content:hover{
   transform: scale(1.1);
   outline: 2px rgb(5, 2, 72) solid;
}
.p1{
    font-size: 4rem;
    font-weight: 500;
}
.p2{
    font-size: 3rem;
    font-weight: 500;
}
