  #hero-section{
     background-color: var(--main-clr);
   text-align: center;
   height: 250px;
  }
  #img-section{
     height: 408px;
        background-color: var(--main-clr);
  }
  #list{
   width: 100%;
   align-items: center;
   justify-content: center;
  }
  .child1{
   height: 350px;
   width: 500px;
   border-radius: 25px;
   background-image: url(../media/img1.png);
   background-size: cover;
   background-repeat: no-repeat;
  }
 .child2{
   height: 350px;
   width: 500px;
   border-radius: 25px;
   background-image: url(../media/img2.png);
   background-size: cover;
   background-repeat: no-repeat;
  }
  .child3{
   height: 300px;
   width: 1000px;
   border-radius: 25px;
   background-image: url(../media/img3.png);
   background-size: cover;
   background-repeat: no-repeat;
  }
  .about{
   position: relative;
   top: 12%;
  }
   #about-section{
     background-color: var(--main-clr);
   text-align: center;
   height: 400px;
  }
   .project{
     height: 530px;
     width: 100%;
     position: relative;
     top: 10%;
       background-color: var(--main-clr);
  }
   #skills{
     height: 340px;
       background-color: var(--main-clr);
  }
  .contact-sec{
   height: 300px;
   position: relative;
  }
 .container-4{
    height: 500px;
    width: 800px;
    position: relative;
    left: 30%;
  }
  .project-cta{
    height: 40px;
    width: 100px;
    background-color: black;
    color: beige;
    border-radius: 10px;
  }
  .project-cta:focus{
    height: 40px;
    width: 100px;
    background-color: rgb(11, 226, 50);
    color: rgb(12, 12, 12);
    transform: scale(0.8);
    border-radius: 10px;
  }

 